.btn {
  margin-right: 10px;
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: black;
  color: white;
}
